.greyProgress_0,.greyProgress_1,.greyProgress_2,.greyProgress_3
,.greyProgress_4,.greyProgress_5,.greyProgress_6,.greyProgress_7,.greyProgress_8,.greyProgress_9 {
    position: relative;
    width: 100%;
    background-color: #ddd;
    border-radius: 0.7vw;
    height: 1vw;
  }
.bar_0 {
    position: relative;
    width: 28vw;
    height: 1vw;
    background-color:rgb(35, 129, 223);
    text-align: center;
    line-height: 3vw;
    color: white;
    border-radius:0.7vw;
  }
.bar_1 {
  position: relative;
  width: 33vw;
  height: 1vw;
  background-color:rgb(35, 129, 223);
  text-align: center;
  line-height: 3vw;
  color: white;
  border-radius:0.7vw;
  }

.bar_2 {
  position: relative;
  width: 23vw;
  height: 1vw;
  background-color:rgb(35, 129, 223);
  text-align: center;
  line-height: 3vw;
  color: white;
  border-radius:0.7vw;
  }

.bar_3 {
  position: relative;
  width: 19vw;
  height: 1vw;
  background-color:rgb(35, 129, 223);
  text-align: center;
  line-height: 3vw;
  color: white;
  border-radius:0.7vw;
  }

.bar_4 {
  position: relative;
  width: 22vw;
  height: 1vw;
  background-color:rgb(35, 129, 223);
  text-align: center;
  line-height: 3vw;
  color: white;
  border-radius:0.7vw;
  }
  .bar_5 {
    position: relative;
    width: 34vw;
    height: 1vw;
    background-color:rgb(35, 129, 223);
    text-align: center;
    line-height: 3vw;
    color: white;
    border-radius:0.7vw;
  }
  .bar_6 {
    position: relative;
    width: 30vw;
    height: 1vw;
    background-color:rgb(35, 129, 223);
    text-align: center;
    line-height: 3vw;
    color: white;
    border-radius:0.7vw;
  }
  .bar_7 {
    position: relative;
    width: 40vw;
    height: 1vw;
    background-color:rgb(35, 129, 223);
    text-align: center;
    line-height: 3vw;
    color: white;
    border-radius:0.7vw;
  }
  .bar_8 {
    position: relative;
    width: 35vw;
    height: 1vw;
    background-color:rgb(35, 129, 223);
    text-align: center;
    line-height: 3vw;
    color: white;
    border-radius:0.7vw;
  }
  .bar_9 {
    position: relative;
    width: 20vw;
    height: 1vw;
    background-color:rgb(35, 129, 223);
    text-align: center;
    line-height: 3vw;
    color: white;
    border-radius:0.7vw;
  }
