body{
    margin: 0;
  
}
.container-contact{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex: 1 1 auto;
    width: 100%;
    margin-top:1vw;

}
.contact_me{
    
    margin-top: 2vw;
}
.contact_me_column{
    display:flex;
    flex-direction: column;
}
.title_contact_me{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 3vw;
    font-weight: 600;
    margin-top:7vw;
    text-align: center;
}