.text_education{
    float: left;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;

    margin-right: 22%;
    
}
.specialization{
    float: left;
    font-family: 'PT Sans Narrow', sans-serif;
}

.date{
    float: left;
    font-family: 'PT Sans Narrow', sans-serif;
}

.container-education{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    float: left;
    width: 111.2%;
    margin-left: -1%;
    margin-top: 400px;
    height: 200px;
    box-shadow: 0 0 5px 2px rgb(243, 240, 240);
}

.text-container-education{
    display: flex;
    float:left;
    justify-content: space-around;
    flex-direction: row;
    margin:80px;
}
.title_education{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top:-4%;
    margin-left:45.2%;
    float: left;
    
}