.text_education{
    text-align: center;
    
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.8vw;
    font-weight: 700;
    
}
.specialization{
   
    float: left;
    font-family: 'PT Sans Narrow', sans-serif;
}

.date{
    float: left;
   
    font-family: 'PT Sans Narrow', sans-serif;
}

.container-education{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    margin-top: 40vw;
    height: 0vw;
    box-shadow: 0 0 5px 2px rgb(243, 240, 240);
}

.text-container-education{
    display: flex;

    float:left;
    justify-content: space-around;
    flex-direction: row;
    margin:8vw;
}
.title_education{
    font-family: 'PT Sans Narrow', sans-serif;

    font-size: 3vw;
    font-weight: 600;
    margin-top:-15vw;
    text-align: center;
    
}