.container-portfolio{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    float: left;
    width: 111.2%;
    margin-left: -1%;
    height: 160px;
    margin-top:1%;
    box-shadow: 0 0 5px 2px rgb(243, 240, 240);
}
.portfolio_card{
    padding: 2%;
    box-shadow: 0 0 5px 2px rgb(243, 239, 239);

}
.card_info{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    padding: 10%;
    font-weight: 700;
}
.card_info_tm {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    padding: 25%;
    font-weight: 700;
}
#a_portfolio:hover{
    border-radius: 0px;
    box-shadow:0px 0px 50px 20px rgb(209, 209, 212);
}
.title_portfolio{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top:1%;
    margin-left:50%;
    float: left;
}
