body,html{
    margin:0;
}
.container-portfolio{
    display: flex;
    flex: 1 1 auto;
    
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
   
    height: auto;
    margin-top:10vw;
    box-shadow: 0 0 5px 2px rgb(243, 240, 240);
}
.portfolio_card{
   
    flex: 0 1 auto;
    font-family: 'PT Sans Narrow', sans-serif;
    
    text-align: center;
    width: 100%;
    font-size: 1.8vw;
    font-weight: 700;

    box-shadow: 0 0 0.5vw 0.2vw rgb(248, 245, 245);

}

#a_portfolio:hover{
    border-radius: 0vw;
    flex: 1 1 auto;
    box-shadow:0vw 0vw 5vw 2vw rgb(209, 209, 212);
}
.title_portfolio{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 2.9vw;
    text-align: center;
    font-weight: 600;
    margin-top:10vw;
    width: 100%;
}
