
.header{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: -1%;
    background-color: rgb(35, 129, 223);
    width: 102%;
    height: 400px;

}
.header_text_name{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: ghostwhite;
}
.header_text_spec{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: ghostwhite;
}
.header_logo{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 800;
    font-size: 30px;
    float:left;
    color: ghostwhite;
    margin: 1% 1% 1%;
}
.left-menu{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: ghostwhite;
    text-decoration: none;
    margin: 4% 0% 0% -8%;
}
a:hover{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16.3px;
    font-weight: 600;
    color: ghostwhite;
    text-decoration: none;
    margin: 4% 0% 0% -8%;
}
.hire_btn{
    border: black;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    font-weight: 600;
    height:30px;
    background-color: white;
    color:rgb(35, 129, 223);
    border-radius:12px;
}
button:hover{
    border:0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16.5px;
    font-weight: 600;
    height:30px;
    background-color: rgb(233, 231, 231);
    color:rgb(35, 129, 223);
    border-radius:12px;
}
button:active,:checked{
    border:0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16.5px;
    font-weight: 600;
    height:30px;
    background-color: rgb(233, 231, 231);
    color:rgb(35, 129, 223);
    border-radius:12px;
}
.info{
    display: flex;
    float: left;
    margin-bottom: 5%;
    align-items: flex-end;
    flex-direction: row;
}
.main{
    display: flex;
    margin:0 auto;
    height:800px;
}
.me_img{
    position:absolute;
    margin-left: 10%;
    margin-top: 10%;
    float:left;
    height:268px;
}
.me_info{
    border: 0px solid rgb(35, 129, 223);
    display: block;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16.5px;
    font-weight: 400;
    width: 300px;
    text-align: left;
    margin-left: 130%;
    margin-top: -90%;

}
.me_info_title{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18.5px;
    font-weight: 800;
    display: block;
    margin-top: -90%;
    margin-bottom: 10%;


}
main{
   display: block;
   align-content: center;
}
