
.header{
    display: block;
    background-color: rgb(35, 129, 223);
    width: 111.2%;
    margin: -1%;
    height: 400px;

}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-container{
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0px auto;
    float: left;
    height: 400px;
    margin-top: 100px;
    width: 80%;
    justify-content: space-between;
}
.me_info{
    margin-right: -150px;
    margin-top: 100px;
}
.header_text_name{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: ghostwhite;
}
.header_text_spec{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: ghostwhite;
}
.nav{  
font-family: 'PT Sans Narrow', sans-serif;
font-size: 16px;
font-weight: 500;
color: ghostwhite;
text-decoration: none;
margin:20px;
}
.info{
    margin-top: 160px;
    margin-left: 0px;
}
.logo{
    margin:10px;
}
a{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: ghostwhite;
    text-decoration: none;
    margin:2px;
}
a:hover{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16.1px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
}
.hire_btn{
    border: black;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    font-weight: 600;
    height:30px;
    background-color: white;
    color:rgb(35, 129, 223);
    border-radius:12px;
}
button:hover{
    border:0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16.5px;
    font-weight: 600;
    height:30px;
    background-color: rgb(233, 231, 231);
    color:rgb(35, 129, 223);
    border-radius:12px;
}
button:focus{
    outline: none;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    font-weight: 600;
    height:30px;
    background-color: white;
    color:rgb(35, 129, 223);
    border-radius:12px;
}
.info{
    display: flex;
    float: left;
    margin-bottom: 5%;
    align-items: flex-end;
    flex-direction: row;
}
.main{
    display: flex;
    margin:0 auto;
    height:800px;
}
.me_img{
    border:3px solid rgb(35, 129, 223);
    border-radius: 5px;
    margin-left: 60px;
    margin-top: 10%;
    float:left;
    height:268px;
}
.me_card{
    position: relative;
    box-shadow: 0 0 5px 2px rgb(194, 193, 193);
    height:300px;
   
}
.me_info{
    display: block;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16.5px;
    font-weight: 400;
    width: 350px;
    white-space: normal;
    line-height: 20px;
    text-align: left;
}
.me_info_title{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 17px;
    font-weight: 800;
}
.li_me_title{
    margin-top: -10px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
}
.li_me_skills{
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 5px;
    margin-left:18px;
    list-style-type: none;
}
ul li:before{
    color: rgb(35, 129, 223);
    content: "•"; 
    padding-right: 7px; 
}

main{
   display: block;
   align-content: center;
}
.container-portfolio{
    position: relative;
}
